<div class="row">
  <div class="col s8">
    <div class="section">
      <h4><%=@shoe.name()%></h4>
      <p><b>Brand:</b> <%=@shoe.brand()%></p>
        <p><b>Style:</b> <%=@shoe.style()%></p>
         <p><b>Price:</b> $<%=@shoe.cost()%></p>
      </div>
  </div>
  <div class="section">
    <br>
  <form action="/shoes" method="post" class="right">
    <input type="hidden" name="_method" value="delete">
    <input type="hidden" name="shoe-id" value=" <%= @shoe.id() %>">
    <button class="waves-effect waves-light btn red" type="submit">Delete Shoe</button>
  </form>
</div>
</div>

<div class="divider"></div><br>
<h5>Description:</h5>
<p><%=@shoe.description()%></p>

<div class="divider"></div><br>
<% if @shoe.stores().any? %>
  <div class="row">
    <p>
      This shoe is available in these stores:
    </p>
  <% @shoe.stores.each do |store| %>
    <div class="col s4">
      <div class="card">
        <div class="card-content">
          <span class="card-title"><%=@shoe.name()%></span>
          <p><%=store.name()%>
             <%=store.city()%>
             <%=store.state()%></p>
        </div>
        <div class="card-action">
          <a href="/stores/<%=store.id()%>">View</a>
        </div>
      </div>
    </div>
  </div>
  <% end %>
<% else %>
  <p>This shoe is not currently available in any store</p>
<% end %>
