<h1>Store</h1>


  <h3><%=@store.name()%></h3>
  <p><%=@store.street()%></p>
  <p><%=@store.city()%></p>
  <p><%=@store.state()%></p>




<table>
  <thead>
    <tr>
      <th data-field="">Store Name</th>
      <th data-field="">City</th>
      <th data-field="">State</th>
      <th data-field=""></th>
    </tr>
  </thead>

  <tbody>
  <% if @store.shoes().any? %>
    <% @store.shoes.each do |shoe| %>
    <tr>
      <td><%=shoe.name()%></td>
      <td><%=shoe.brand()%></td>
      <td><%=shoe.description()%></td>
      <td><a class="waves-effect waves-teal btn-flat" href="/stores/<%=shoe.id()%>">View</a></td>
    </tr>
      <% end %>
    <% else %>
      <p>No shoes have been added</p>
    <% end %>
  </tbody>
</table>
