<div class="section">
<h4 class="blue-text">Current Stores:</h4>
</div>

  <% if @stores.any? %>
    <div class="row">
    <% @stores.each do |store| %>
      <div class="col s4">
        <div class="card">
          <div class="card-content">
            <span class="card-title"><%=store.name()%></span>
            <p><%=store.street()%>
               <%=store.city()%>,
               <%=store.state()%></p>
          </div>
          <div class="card-action">
            <a href="/stores/<%=store.id()%>">View Store</a>
          </div>
        </div>
      </div>
      <% end %>
    </div>
    <% else %>
      <p>No stores have been added</p>
    <% end %>

<% if @show %>
  <div class="row">
    <form class="col s12" action="/stores" method="post">
      <div class="row">
        <div class="input-field col s12">
          <input id="store-name" name="store-name" type="text" class="validate">
          <label for="store-name">Store Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="store-street" name="store-street" type="text" class="validate">
          <label for="store-street">Street Address</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s6">
          <input id="store-city" name="store-city" type="text" class="validate">
          <label for="store-city">City</label>
        </div>

        <div class="input-field col s6">
          <input id="store-state" name="store-state" type="text" class="validate">
          <label for="store-state">State</label>
        </div>
      </div>
      <button class="waves-effect waves-light btn blue" type="submit">Add Store</button>
      <a class="waves-effect waves-light btn red" href="/stores">Cancel</a>
    </form>
  </div>
<% else %>
  <a class="waves-effect waves-light btn blue" href="/stores/new">Add Store</a>
<% end %>
