<div class="section">
  <h4><%=@store.name()%></h4>
  <p><%=@store.street()%>
    <%=@store.city()%>
    <%=@store.state()%></p>
  </div>
  <div class="divider"></div><br>


<h5>Shoes currenty available at <%=@store.name()%>:</h5>
<table>
  <thead>
    <tr>
      <th data-field="">Name</th>
      <th data-field="">Brand</th>
      <th data-field="">Style</th>
      <th data-field="">Price</th>
    </tr>
  </thead>

  <tbody>
  <% if @store.shoes().any? %>
    <% @store.shoes.each do |shoe| %>
    <tr>
      <td><%=shoe.name()%></td>
      <td><%=shoe.brand()%></td>
      <td><%=shoe.style()%></td>
      <td>$<%=shoe.cost()%></td>
      <td><a href="/shoes/<%=shoe.id()%>">View</a></td>
    </tr>
      <% end %>
    <% else %>
      <p>No shoes have been added</p>
    <% end %>
  </tbody>
</table><br><br>


<% if @show %>
<h5>Select shoes below to add to this store</h5>
  <div class="row">
    <form class="col s12" action="/shoes/<%=@store.id()%>" method="post">
      <div class="row">

      <% if @shoes.any? %>
        <% @shoes.each do |shoe| %>
        <div class="col s4">

        <p>
          <input name="shoes[]" type="checkbox" id="<%= shoe.name %>" value="<%= shoe.id() %>" />
          <label for="<%= shoe.name %>"> <%= shoe.name %></label>
        </p>

      </div>
      <% end %>
    </div>
      <% else %>
      <p>No shoes have been added</p>
      <% end %>

      <button class="waves-effect waves-light btn blue" type="submit">Add Shoes</button>
      <a class="waves-effect waves-light btn red" href="/stores/<%=@store.id()%>">Cancel</a>
    </form>
  </div>
<% else %>
  <a class="waves-effect waves-light btn blue" href="/shoes/<%=@store.id()%>/new">Add Shoes</a>
<% end %>
