<div class="row">
  <div class="col s8">
    <div class="section">
      <h4><%=@store.name()%></h4>
      <p><%=@store.street()%>
        <%=@store.city()%>
        <%=@store.state()%></p>
      </div>
  </div>
  <div class="section">
    <br>
  <form action="/stores" method="post" class="right">
    <input type="hidden" name="_method" value="delete">
    <input type="hidden" name="store-id" value=" <%= @store.id() %>">
    <button class="waves-effect waves-light btn red" type="submit">Delete Store</button>
  </form>
</div>
</div>
  <div class="divider"></div><br>


<h5>Shoes currenty available at <%=@store.name()%>:</h5>
<table>
  <thead>
    <tr>
      <th data-field="">Name</th>
      <th data-field="">Brand</th>
      <th data-field="">Style</th>
      <th data-field="">Price</th>
    </tr>
  </thead>

  <tbody>
  <% if @store.shoes().any? %>
    <% @store.shoes.each do |shoe| %>
    <tr>
      <td><%=shoe.name()%></td>
      <td><%=shoe.brand()%></td>
      <td><%=shoe.style()%></td>
      <td>$<%=shoe.cost()%></td>
      <td><a href="/shoes/<%=shoe.id()%>">View</a></td>
    </tr>
      <% end %>
    <% else %>
      <p>No shoes have been added</p>
    <% end %>
  </tbody>
</table><br><br>


<% if @show %>
<h5>Select shoes below to add to this store</h5>
  <div class="row">
    <form class="col s12" action="/shoes/<%=@store.id()%>" method="post">
      <div class="row">

      <% if @shoes.any? %>
        <% @shoes.each do |shoe| %>
        <div class="col s4">

        <p>
          <input name="shoes[]" type="checkbox" id="<%= shoe.name %>" value="<%= shoe.id() %>" />
          <label for="<%= shoe.name %>"> <%= shoe.name %></label>
        </p>

      </div>
      <% end %>
    </div>
      <% else %>
      <p>No shoes have been added</p>
      <% end %>

      <button class="waves-effect waves-light btn blue" type="submit">Add Shoes</button>
      <a class="waves-effect waves-light btn red" href="/stores/<%=@store.id()%>">Cancel</a>
    </form>
  </div>
<% else %>
  <a class="waves-effect waves-light btn blue" href="/shoes/<%=@store.id()%>/new">Add Shoes</a>
<% end %>

<% if @show_form %>
  <div class="row">
    <form class="col s12" action="/stores/ <%= @store.id() %>" method="post">
      <input type="hidden" name="_method" value="patch">
      <div class="row">
        <div class="input-field col s12">
          <input id="store-name" name="store-name" type="text" class="validate">
          <label for="store-name">Store Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="store-street" name="store-street" type="text" class="validate">
          <label for="store-street">Street Address</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s6">
          <input id="store-city" name="store-city" type="text" class="validate">
          <label for="store-city">City</label>
        </div>

        <div class="input-field col s6">
          <input id="store-state" name="store-state" type="text" class="validate">
          <label for="store-state">State</label>
        </div>
      </div>
      <button class="waves-effect waves-light btn amber" type="submit">Update</button>
      <a class="waves-effect waves-light btn red" href="/stores">Cancel</a>
    </form>
  </div>
<% else %>
  <a class="waves-effect waves-light btn amber" href="/stores/ <%= @store.id() %>/update">Update Info</a>
<% end %>
